.container {
  width: 100%;
  display: flex;
  flex-direction: row;

}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

ul {
  list-style: none;
  font-size: 14px;
}

li {
  margin: 5px;
}

a {
  color: white;
  text-decoration: none;
  padding: 0.2rem;
}

.active {
  border-radius: 2px;
  background-color: #5c3879;
}

.transparent {
  color: gray;
}