.search {
  background-color: transparent;
  border: 2px solid #3a3c65;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  color: white;

  padding: .5rem 1.5rem;
  width: 100%;
  /* max-width: 100%; */
}

.search:focus {
  outline: none;
}
