.movie {
  margin: 1rem;
  width: 250px;
  position: relative;
  background-color: #2f3257;
  color: white;

  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
}

.movie img {
  object-fit: cover;
  width: 100%;
  height: 370px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.info h3 {
  margin: 0;
}

.over {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  color: #2f3257;
  padding: 1rem;

  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;

  overflow: auto;
  max-height: 100%;

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  box-shadow: 0px -3px 5px rgba(0,0,0,.1);
}

.movie:hover .over {
  transform: translateY(0%);
}

.tag {
  background-color: #202035;
  padding: .5rem;
  border-radius: 5px;
  font-weight: bold;
}

.tag.green {
  color: green;
}
.tag.orange {
  color: orange;
}
.tag.red {
  color: red;
}


@media screen and (max-width: 600px) {
  .movie {
    width: 200px;
  }

  .movie img {
    height: 250px;
  }

  .info {
    padding: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .movie {
    margin: 3% 1.5%;
    height: 190px;
    width: 105px;
    font-size: 8px;
  }

  .movie img {
    height: 150px;
  }

  .info {
    margin-right: 0.1rem;
    margin-left: 0.01rem;
    padding: 0.05rem;
  }
}
